body{
    width: 68vw;
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.scroll-area {
    height: 80vh;
    width: 65vw;
    overflow-y: scroll;
}
.card{
    margin: 8px;
}

.pagination{
    margin: 10px;
}
